@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Gloria+Hallelujah&family=Monofett&family=Rubik+Iso&family=Sedgwick+Ave+Display&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background: rgb(255, 0, 0);
  background: radial-gradient(
    circle,
    rgba(255, 0, 0, 1) 0%,
    rgba(52, 118, 196, 1) 100%
  );
}

.page_wrapper {
  display: flex;
  justify-content: center;
}

#menu {
  background-color: grey;
  width: 100%;
  box-sizing: border-box;
  border: 4px solid black;
}

.main_content_holder {
  width: 40vw;
}

#mainmenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

#menupic {
  height: 50px;
  width: 50px;
}

#picture-compensator {
  width: 50px;
  height: 1px;
  background-color: grey;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: "Cedarville Cursive";
}

h2 {
  color: yellow;
}

h3 {
  color: white;
}

#rickroll {
  color: yellow;
}

.hidden {
  display: none;
}

.yellow-text {
  color: yellow;
}

footer {
  background-color: black;
  height: 20vh;
}

main {
  min-height: calc(80vh - 62px);
}

table,
th {
  border: 1px solid black;
}

td {
  text-align: center;
  border: 1px solid black;
}
